
@font-face {
  font-family: "main-fonts";
  src: url("./asstes/fonts/r1.ttf");
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:main-fonts;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  background: #F1F1F1;
}


.mouse-moving {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}



.hero-text{
  overflow: hidden;
}
.hero-text .text{
  color: #222;
  align-items: center;
  font-family: bold-font;
  font-size: 9vw;
  line-height: 6.5vw;
  gap: 1vw;
  /* background: red; */
  text-transform: uppercase;
}





.hero-text .text2{
  color: #222;
  align-items: center;
  font-family: bold-font;
  font-size: 5vw;
  line-height: 4vw;
  gap: 1vw;
  /* background: red; */

  text-transform: uppercase;
}

.hero-text .text1{
  position: relative;
  left: -10.5%;
}

.animtion-text{
   /* font-family: bold-font; */
   font-weight: 1000;
}
.hero-text .text .hero-img{
  width: 0vw;
  margin-top: 1vw;
  height: 6vw;  

}



.main-container{
  position: relative;
}

.main-container .loader{
  position: absolute;
}

.hero-text .text .hero-img img{
  border-radius: 0.25vw;
  object-fit: cover;
  object-position: left;
  width: 100%;
  height: 100%;
}



.btu-container{
  display: flex;
  gap: .5vw;
  align-items: center;
}

.btu-container button{
  border: 1px solid #222;
  padding: 5px 15px;
  border-radius: 20px;
  position: relative;
  text-transform: uppercase;
}
.btu-container button::after{
  content: "";
  top: 0;left: 0;
  height: 100%;
  transform: scale(0);
  z-index: -1;
  width: 100%;
  position: absolute;
  background: #000;
  transition: ease all 0.1s;
  border: 1px solid #222;
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
}

.btu-container:hover button::after{
  transform: scale(1);
}

.btu-container:hover button{
  color: #fff;
}

.btu-container .gola{
  display: inline-block;
  border: 1px solid #222;
  padding: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}
.btu-container .gola::after{
  content: "";
  top: 0;left: 0;
  height: 100%;
  transform: scale(0);
  z-index: -1;
  width: 100%;
  position: absolute;
  background: #000;
  transition: ease all 0.1s;
  border: 1px solid #222;
  padding: 5px 15px;
  border-radius: 20px;
  text-transform: uppercase;
}
.btu-container:hover .gola::after{
  transform: scale(1);
}
.btu-container:hover .gola{
  color: #fff;
}

 .text-animtion .text-dow{
  color: #555;
   animation: scroll-down 3s infinite backwards;
 }

 @keyframes scroll-down {
   0%{
    transform: translateY(-150%);
   }
   30%,70%{
    transform: translateY(0);
   }
   100%{
    transform: translateY(150%);
   }
 }
.hea{
  line-height: 6vw;
  word-spacing: -5px;
  font-size: 8vw;
  font-family: bold-font;
}

 #anime-text{
  white-space: nowrap;
  overflow: hidden;
 }
 #anime-text  h1{
  font-size: 30vw;
  font-family: bold-font;
  white-space: nowrap;
  display: inline-block;
  text-transform: uppercase;
  word-wrap: nowrap;
  margin-left: 2vw;
  color: white;
  line-height: 1;
  position: relative;
  animation: moving-text linear infinite 8s;
  /* background: #000; */
 }

 .about{
  position: relative;
  z-index: 30;
 }

 .about-container h1{
   width: 85%;
   font-size: 3.5vw;
   line-height: 1.1;
   color:#222;
 }

 .about-container h1 span{
  text-decoration: underline;
 }
 @keyframes moving-text {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(-100%);
    }
 }

.about{
  position: relative;
}

.btu {
  position: relative;
    background-color: #222;
  position: relative;
  width: fit-content;
  z-index: 1;
  padding: 15px 30px;
  align-items:center ;
  gap:2vw;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background-color: #222;
  border: none;
  transition: 0.5s ease all;
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  transition: background-color 0.2s ease-in-out;
}

.btu::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  left: 0;
  z-index: -1;
  transition-delay: 1s;
  width: 100%;
  background: #000;
  height: 100%;
  transition: 0.5s ease all;
  border-radius: 50%;
}

.btu:hover::before {
  bottom: 0;
  border-radius: 0%;
}

.a-c-d-img img{
  transition: ease all 0.5s;
}
.a-c-d-img img:hover{
  transform: scale(0.9);
} 
.btu--focused::before {
  bottom: 100%;
  transition: bottom 0.2s ease-in-out;
}


 @media  screen and (max-width:400px) {
  .hero-text .text-mo .hero-img{
    width: 19vw;
    margin-top: 1vw;
    height: 10vw;  
  }
  .hero-text .text-mo{
    color: #222;
    align-items: center;
    font-family: bold-font;
    font-size: 13vw;
    line-height: 12vw;
    gap: 1vw;
    /* background: red; */
    text-transform: uppercase;
  }
  .hero-text .text-mo-1{
    position: relative;
    left: -20.5%;
  
  }

  .hero-text .text-mo .hero-img img{
    border-radius: 0.25vw;
    object-fit: cover;
    object-position: left;
    width: 100%;
    height: 100%;
  }
  
  
 }