
.btu-container{
    display: flex;
    gap: .5vw;
    align-items: center;
  }
  
  .btu-container button{
    border: 1px solid #222;
    padding: 5px 15px;
    border-radius: 20px;
    position: relative;
    text-transform: uppercase;
  }
  .btu-container button::after{
    content: "";
    top: 0;left: 0;
    height: 100%;
    transform: scale(0);
    z-index: -1;
    width: 100%;
    position: absolute;
    background: #000;
    transition: ease all 0.1s;
    border: 1px solid #222;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: uppercase;
  }
  
  .btu-container:hover button::after{
    transform: scale(1);
  }
  
  .btu-container:hover button{
    color: #fff;
  }
  
  .btu-container .gola{
    display: inline-block;
    border: 1px solid #222;
    padding: 10px;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
  }
  .btu-container .gola::after{
    content: "";
    top: 0;left: 0;
    height: 100%;
    transform: scale(0);
    z-index: -1;
    width: 100%;
    position: absolute;
    background: #000;
    transition: ease all 0.1s;
    border: 1px solid #222;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: uppercase;
  }
  .btu-container:hover .gola::after{
    transform: scale(1);
  }
  .btu-container:hover .gola{
    color: #fff;
  }